html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, strong, center, ul, li, form, label,
aside, footer, header,
menu, nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	direction: ltr;
	font-family: sans-serif;
	min-width: 1280px;
}
.wrapper{
	width: 1240px;
    margin: 0 auto;
}
header{
	width: 100%;
	height: 50px;
	background-color: #435b93;

}
#logo{
	width: 200px;
	float: left;
}
#hello{
	width: 260px;
    float: right;
}
#hello p{
	width: 200px;
    float: left;
    color: white;
    font-size: 23px;
    padding-top: 12px;
}
#hello img{
	width: 30px;
    padding: 10px 20px 0px 10px;
    float: right;

}
main{
	width: 100%;
	height: 750px;
	background-image:url(../images/reka.jpg);
	background-size: cover;
	color: white;
}
#wellcome{
    width: 64%;
    height: 100%;
    float: left;
}
#wellcome h1{
    font-size: 64px;
    margin: 100px 0px 10px 50px;
}
#wellcome p{
    font-size: 31px;
    margin: 40px 0px 0px 50px;
    width: 80%;
}
aside{
    width: 36%;
    height: 100%;
    float:right;
}
#register-form{
    width: 100%;
    height: 65%;
    float: left;
    padding-top: 30px;
}
#register-form h1{
    font-size: 48px;
    padding: 0px 0px 10px 10px;
}
.error1, .error2{
    width: 415px;
    height: 60px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(14, 14, 14, 0.39);
    font-size: 26px;
    padding: 10px;
    color: white;
}
.error1 input[type=button], .error2 input[type=button]{
    color: white;
    background: none;
    border: none;
    float: right;
    padding: 10px;
} 
.input{
    width: 425px;
    height: 43px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(14, 14, 14, 0.39);
    font-size: 26px;
    padding-left: 10px;
    color: white;
}
#sendRegister, #sendLogin{
    width: 114px;
    height: 50px;
    margin: 10px 0px 0 5px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}
#login-form{
    width: 100%;
    height: 30%;
    float:left;
    margin-top: 40px;
}
#sendRegister{
    background-color: rgb(102, 198, 6);
}
#sendLogin{
    background-color: rgb(6, 171, 198);
   
}

footer{
	padding: 16px;
    color: rgb(57, 58, 57);
    font-size: 18px;
    text-align: center;
}
.wrapper{
    width: 1240px;
    margin: 0 auto;
}
#left-content{
    width: 77%;
    height: 100%;
    float: left;
    margin: 15px 39px 0px 0px;
}
#button-post{
    width: 100%;
    height: 40px;
    border-top: solid 1px lightgrey;
}
button{
    float: right;
    margin: 10px 10px 0 0;
    background-color: #435b93;
    color: white;
    height: 25px;
    border: none;
    outline: none;
}
/*___PROFILE-PAGE____*/
#cover{
    height: 350px;
    background-color: #fff;
    border: solid 4px rgb(204, 203, 203);
}
#cover img{
    width: 100%;
    height: 300px;
    z-index: -1111;
    position: initial;
}
#profile-img{
    width: 125px;
    height: 125px;
    z-index: 111111;
    position: static;
    margin: -78px 0 0px 60px;
}
#profile-data #profile-img img{
    width: 125px;
    height: 125px;
   
}
#profile-username{
    width: 100px;
    float: left;
    z-index: 111111;
    margin: -32px 0 0 215px;
    position: initial;
    font-size: 22px;
    color: grey;
    font-weight: 600;
}
/*_________HOME_PAGE_________*/
/*_______ACCOUNT_PAGE________*/
/*_______PROFILE_PAGE________*/
#home-page{
    width: 100%;
    height: 700px;
    background-color: #e1e1e1;
}
#account-page, #profile-page{
    width: 100%;
    height: 840px;
    background-color: #e1e1e1;
}
#home-update-status,      /*_________HOME_PAGE_________*/
#account-update-details,  /*_______ACCOUNT_PAGE________*/
#profile-update-status    /*_______PROFILE_PAGE________*/
{
    background-color: #fff;
    border: solid 2px lightgrey;
}
#home-update-status textarea,      /*_________HOME_PAGE_________*/
#account-update-details textarea,  /*_______ACCOUNT_PAGE________*/
#profile-update-status textarea    /*_______PROFILE_PAGE________*/
{ 
    width: 95%;
    min-height: 70px;
    border: none;
    outline: none;
    padding: 10px;
} 
#home-update-status-info,      /*_________HOME_PAGE_________*/
#account-update-details-info,  /*_______ACCOUNT_PAGE________*/
#profile-update-status-info    /*_______PROFILE_PAGE________*/
{
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}
#user-info #my-details-info p, 
#home-update-status p,      /*_________HOME_PAGE_________*/
#account-update-details p,  /*_______ACCOUNT_PAGE________*/
#profile-update-status p    /*_______PROFILE_PAGE________*/
{
    height: 20px;
    padding: 8px 0px 5px 40px;
    font-weight: 600;
    color: grey;
}  
#home-update-status-img,       /*_________HOME_PAGE_________*/
#account-update-details-img,   /*_______ACCOUNT_PAGE________*/
#profile-update-status-img{    /*_______PROFILE_PAGE________*/
    width: 30px;
    float: left;
} 
#account-update-details h1{   /*_______ACCOUNT_PAGE________*/
    height: 30px;
    padding: 15px;
    font-size: 24px;
    color: grey;
    border-bottom: 1px solid lightgrey;
}
#ststuses-by-home{}

#home-page #user-info,    /*_________HOME_PAGE_________*/
#account-page #user-info,  /*_______ACCOUNT_PAGE________*/
#profile-page #user-info    /*_______PROFILE_PAGE________*/
{
    width: 19%;
    float: left;
    margin: 15px 0px 0px 10px;
}
#my-details-info, 
#user-info #wellcome-info,              /*_________HOME_PAGE_________*/
#user-info #account-settings-info,      /*_______ACCOUNT_PAGE________*/
#user-info #profile-settings-info,      /*_______PROFILE_PAGE________*/
#user-info #profile-postsByTime-info{   /*_______PROFILE_PAGE________*/
    margin: 0px 0px 10px 0px;
    border: solid 2px lightgrey;
    background-color: #fff;
}
#user-info #wellcome-info .some-info  /*_________HOME_PAGE_________*/
{
    padding: 10px;
    height: 80px;
}
#user-info #wellcome-info .some-info #wellcome-info-img{    /*_________HOME_PAGE_________*/
    width: 100px;
    float: left;
}
#my-details-info .some-info{}       /*_________HOME_PAGE_________*/
#user-info #my-details-info{}       /*_________HOME_PAGE_________*/
#user-info {}
#user-info #my-friends-info{        /*_________HOME_PAGE_________*/
    background-color: #fff;
}
#user-info h2{
    width: 212px;
    height: 20px;
    border-bottom: solid 1px lightgrey;
    padding: 10px;
    color: #666;
    font-weight: 700;
    background-color: rgb(242, 242, 242);
}
#user-info h2 a{
    text-decoration: none;
    color:grey;  
}
.account-some-settings-info{ /*_______ACCOUNT_PAGE________*/

}
.account-some-settings-info strong{ /*_______ACCOUNT_PAGE________*/
    font-weight: 600;
}
#my-details-info p,
.account-some-settings-info p,    /*_______ACCOUNT_PAGE________*/
.profile-some-settings-info p,    /*_______PROFILE_PAGE________*/
.profile-posts-info p{            /*_______PROFILE_PAGE________*/
    height: 20px;
    padding: 10px;
    border-bottom: solid 1px lightgrey
}
.account-some-settings-info a,    /*_______ACCOUNT_PAGE________*/
.profile-some-settings-info a,    /*_______PROFILE_PAGE________*/
.profile-posts-info a{            /*_______PROFILE_PAGE________*/
    text-decoration: none;
    color:grey;  
} 

/*account-update-form*/
#account-update-form{  /*_______ACCOUNT_PAGE________*/
    padding: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.45);;
}
#account-update-form .labels{  /*_______ACCOUNT_PAGE________*/
    width: 13%;
    float: left;
    margin: 0 15px; 0 0; 
    height: 60px;
    color: grey;
}  
#account-update-form input{  /*_______ACCOUNT_PAGE________*/
    height: 20px;
}
#account-update-form .inputs{  /*_______ACCOUNT_PAGE________*/
    height: 60px;
    width: 90%;
}     
#account-update-form .textarea{  /*_______ACCOUNT_PAGE________*/
    height: 140px;
} 
#account-update-form .inputs textarea{  /*_______ACCOUNT_PAGE________*/
    margin: 0px;
    width: 300px;
    height: 80px;
   border: solid 1px grey
}  
#account-update-details #button-edit{  /*_______ACCOUNT_PAGE________*/
    width: 100%;
    height: 60px;
}
#account-update-details .edit-button{  /*_______ACCOUNT_PAGE________*/
    width: 100px;
    height: 30px;
    float: left;
    margin: 15px 0 0 170px;
    background-color: rgb(213, 212, 212);
    color: black;
    border: 2px solid darkgrey;
}
#account-update-details span{  /*_______ACCOUNT_PAGE________*/
    color: grey;
    font-size: 12px;
}
